.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
  width: 100%;
  text-align: center;
  &__address-style {
    font-style: normal;
    margin-top: 20px;
  }
  &__contacts-item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__contacts-link {
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--akcent-text-color);
    }
  }
  &__contacts-link-addcolor {
    color: rgba(255, 255, 255, 0.6);
  }
  &__join {
    margin: 60px 0;
  }
  &__join-paragraph {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-color);
  }
  &__subscription-label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--secondary-color);
  }
  &__subscription-input {
    margin: 20px 0;
    padding: 0;
    padding-left: 16px;
    width: 100%;
    height: 50px;
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      outline: none;
      border-color: var(--akcent-text-color);
    }
    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
@media screen and (min-width: 768px) {
  .footer {
    &__wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 60px;
    }
    &__join {
      padding-top: 5px;
      margin: 0;
      margin-left: 165px;
    }
    &__subscription {
      margin: 0 auto;
      width: 450px;
    }
    &__subscription-input {
      display: block;
    }
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: unset;
    &__container {
      display: flex;
      justify-content: space-between;
    }
    &__wrapper {
      margin: 0;
    }
    &__join {
      margin-left: 70px;
      padding-top: 12px;
    }
    &__subscription {
      padding-top: 12px;
      margin: 0;
      width: 570px;
    }
    &__subscription-form {
      display: flex;
    }
    &__subscription-label {
      margin-right: 12px;
      width: 358px;
    }
    &__subscription-input {
      margin: 0;
      margin-top: 20px;
    }
  }
}
