.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
  width: 100%;
  margin: 0 auto;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__address-style {
  font-style: normal;
  margin-top: 20px;
}
.footer__contacts-item {
  padding-bottom: 9px;
}
.footer__contacts-link {
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--akcent-text-color);
  }
}

.footer__contacts-link-addcolor {
  color: rgba(255, 255, 255, 0.6);
}

.footer__join {
  padding-top: 12px;
}
.footer__join-paragraph {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.footer__subscription {
  width: 570px;
  padding-top: 12px;
}
.footer__subscription-form {
  display: flex;
}
.footer__subscription-label {
  margin-right: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.footer__subscription-input {
  margin-top: 20px;
  padding: 0;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: var(--secondary-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline: none;
    border-color: var(--akcent-text-color);
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}
